body
  margin 0
  background-color: #000

canvas
  margin 0 auto
  image-rendering: optimizeSpeed;             /* Older versions of FF          */
  image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
  image-rendering: -webkit-optimize-contrast; /* Safari                        */
  image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
  image-rendering: pixelated;                 /* Awesome future-browsers       */
  -ms-interpolation-mode: nearest-neighbor;   /* IE                            */

@media screen and (min-width: 260px) and (min-height: 230px)
  canvas
    width 256px !important
    height 224px !important


@media screen and (min-width: 520px) and (min-height: 450px)
  canvas
    width 512px !important
    height 448px !important

@media screen and (min-width: 770px) and (min-height: 680px)
  canvas
    width 768px !important
    height 672px !important