doctype
html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  meta(property="og:title", content=properties.title)
  meta(property="og:description", content=properties.description)

  link(rel='stylesheet', href='build/css/index.css')

  title=properties.title

  script(src="build/js/phaser.js")
  script(src="build/js/stats.min.js")
  script(src="build/js/nine-patch-phaser-plugin.min.js")
  script(src="build/js/phaser-arcade-slopes.min.js")
  script(src="build/js/app.min.js")

  include analytics.jade

body
  #game

  if (!productionBuild)
    script.
      document.write('<script src="//' + window.location.hostname + ':#{properties.liveReloadPort}/livereload.js"><\/script>');
